<!DOCTYPE html>

{% load staticfiles %}
{% load static %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fikri Nurul Ilmi</title>


<!-- Bootstrap -->
<!-- <link rel="stylesheet" type="text/css"  href= "{% static 'appPPW/css/bootstrap.css'%}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'appPPW/fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'appPPW/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'appPPW/css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'appPPW/css/nivo-lightbox/default.css' %}">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">



<!-- Contact Section -->
<div id="contact">
  <div class="container">
    <h2>Tentang Saya</h2>
    <div class="col-md-6">
      <div class="section-title">
        <div class="row"> <img src="https://pbs.twimg.com/profile_images/1015189772074008576/nf7xVK-v_400x400.jpg" class="img-responsive pull-left" alt="">
          <p>Fikri sapaan akrabnya, pada saat ini sedang sibuk menyelesaikan studi S1 di sebuah universitas negri di Indonesia.</p>
          <p>Pada kesempatan ini, fikri sedang mengerjakan tugas dari salah satu mata kuliah yang dia ambil, yaitu membuat web.</p>
          <div class="social">
            <ul>
              <li><a href="https://www.facebook.com/fikrinurulilmi"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/Fikriilmi25"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/fikriilmin/"><i class="fa fa-instagram"></i></a></li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div class="section-title">
        <p>Apabila ingin berkenalan atau sekedar bercengkrama silahkan kontak saya <strong>fikri.nurul@ui.ac.id</strong> atau mengisi form dibawah ini.</p>
      </div>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Nama" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Pesan" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default btn-lg">Kirim Pesan</button>
      </form>
    </div>
  </div>
</div>