{% load crispy_forms_tags %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Schedule</title>

<!-- Bootstrap -->
<!-- <link rel="stylesheet" type="text/css"  href= "{% static 'appPPW/css/bootstrap.css'%}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'appPPW/fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'appPPW/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'appPPW/css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'appPPW/css/nivo-lightbox/default.css' %}">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
</head>
  <body>
    <header>
      <div class = "container p-5 text-lg-center">
        <h2><strong>Personal schedule tool</strong></h2>
      </div>
    </header>

    <div class = "container p-5">
      <h3>Your schedule</h3>
      <div class="table-responsive">
        {% if form %}
        <table class="table">
          <thead>
            <th>Nama Kegiatan</th>
            <th>Tempat</th>
            <th>Kategori</th>
            <th>Tanggal</th>
            <th>Jam</th>
          </thead>
          <tbody>
            {% for fak in events %}
            <tr>
              <td>{{ fak.nama_kegiatan }}</td>
              <td>{{ fak.tempat }}</td>
              <td>{{ fak.kategori }}</td>
              <td>{{ fak.tanggal }}</td>
              <td>{{ fak.jam }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h1>Tidak ada schedule</h1>
        {% endif %}
      </div>
    </div>

    <div class="container p-5">
      <div class="heading-title">
        <h3>Add Schedules</h3>
      </div>
        <div class="table-responsive">
          <div class="table">
            <div>
              <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Save Schedule</button>
              </form>
              <div>
                
              </div>
              <form action="{% url 'delete_all_events' %}">
                <button type="DELETE!" class="btn btn-primary">Delete All Event</button>
              </form>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>





