<!DOCTYPE html>

{% load staticfiles %}
{% load static %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fikri Nurul Ilmi</title>


<!-- Bootstrap -->
<!-- <link rel="stylesheet" type="text/css"  href= "{% static 'appPPW/css/bootstrap.css'%}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'appPPW/fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'appPPW/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'appPPW/css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'appPPW/css/nivo-lightbox/default.css' %}">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">



</head>
<body>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <div class="intro-text">
              <h1>Fikri Nurul Ilmi</h1>
              <p>Fulltime Netter</p>
              <a href="{% url 'contact' %}" class="btn btn-custom btn-lg page-scroll">Tentang Saya</a> <a href="{% url 'regis' %}" class="btn btn-custom btn-lg page-scroll"> Keluar</a> <a href="{% url 'form' %}" class="btn btn-custom btn-lg page-scroll"> Schedule</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

</body>
</html>
