<!DOCTYPE html>

{% load staticfiles %}
{% load static %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fikri Nurul Ilmi</title>



<!-- Bootstrap -->
<!-- <link rel="stylesheet" type="text/css"  href= "{% static 'appPPW/css/bootstrap.css'%}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'appPPW/fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'appPPW/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'appPPW/css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'appPPW/css/nivo-lightbox/default.css' %}">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">


<body class="regis">
  <div id="regis" novalidate="">
    <div class="container">
      <h2>Registrasi</h2>
      <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Nama:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg my-3" id="email" placeholder="masukan nama" name="email" required="required">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="email" style="">Tanggal Lahir:</label>
          <div class="col-sm-10 col-md-5 my-3" style="">
            <input type="date" name="bday" placeholder="Tanggal Lahir">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg my-2" id="email" placeholder="masukan email" name="email" required="required">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Username:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg my-2" id="email" placeholder="masukan nama user" name="email" required="required">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Password:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control form-control-lg my-2" id="pwd" placeholder="Enter password" name="pwd" style="opacity: 0.5;" required="required">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <a href="{% url 'index' %}"" class="btn btn-outline-dark btn-lg my-3" role="button" aria-pressed="true">Submit</a>
          </div>
        </div>
      </form>
    </div>
  </div>

</body>

</head>