body, html {
	font-family: 'Montserrat', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #555;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	color: #333;
	font-size: 64px;
	font-weight: 800;
	margin-top: 0;
	text-transform: uppercase;
	margin-bottom: 10px;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 42px;
	color: #333;
	text-transform: uppercase;
}
h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
h4 {
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #888;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #222;
}
a:hover, a:focus {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 6px;
	width: 70px;
	position: relative;
	background: #444;
	margin-bottom: 20px;
	margin-left: 0;
	border: 0;
}

.section-title {
	margin-bottom: 50px;
}
.btn-custom {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #444;
	background-color: transparent;
	border: 2px solid #444;
	padding: 14px 20px;
	margin: 0;
	font-size: 14px;
	border-radius: 0;
	margin-top: 20px;
	margin-right: 30px;
	transition: all 0.5s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #eee;
	background-color: #444;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	margin-bottom: 80px;
	background: url("https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/42146083_1360060794131125_7980773260079923200_n.jpg?_nc_cat=109&oh=1d1162a3233beb732b230b8234f7934e&oe=5C2280D4") no-repeat right top;
	background-color: #e5e5e5;
}

.intro .fa {
	font-size: 94px;
	margin-bottom: 40px;
	color: #fff;
}
.intro p {
	color: #444;
	margin: 10px 0 20px 0;
	font-size: 22px;
}
header .intro-text {
	padding-top: 250px;
	padding-bottom: 200px;
}

/* Contact Section */
#contact {
	padding: 60px 0 60px 0;
	background: url("https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/42084538_1360064857464052_4372730861464846336_n.jpg?_nc_cat=103&oh=d8aabfe919a18f883cc7a9de4e0c9311&oe=5C60DFC3");
}
#contact h2 {
	font-weight: 400;
	color: #777;
	margin: 60px 0;
}
#contact img {
	width: 140px;
	margin: 5px 30px 10px 0;
}
#contact p {
	color: #666;
	margin-bottom: 20px;
	line-height: 24px;
}
#contact .social {
	margin-top: 40px;
}
#contact .social ul li {
	display: inline-block;
	margin-right: 20px;
}
#contact .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #777;
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #eee;
}
#contact form {
	padding: 0;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.42857143;
	color: #aaa;
	background-color: #444;
	background-image: none;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .btn-default {
	font-weight: 400;
	color: #666;
	background-color: transparent;
	border: 2px solid #666;
	padding: 10px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	margin-top: 20px;
	text-transform: uppercase;
	transition: all 0.3s;
}
#contact .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #666;
	color: #999;
}

/* Regis Section */
#regis {
	padding: 60px 0 60px 0;
	background: url("https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/42084538_1360064857464052_4372730861464846336_n.jpg?_nc_cat=103&oh=d8aabfe919a18f883cc7a9de4e0c9311&oe=5C60DFC3");
}
#regis h2 {
	font-weight: 400;
	color: #777;
	margin: 60px 0;
}
#regis img {
	width: 140px;
	margin: 5px 30px 10px 0;
}
#regis p {
	color: #666;
	margin-bottom: 20px;
	line-height: 24px;
}

#regis form {
	padding: 0;
}
#regis .text-danger {
	color: #cc0033;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	float: left;
}
#regis .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.42857143;
	color: #aaa;
	background-color: #444;
	background-image: none;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#regis .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#regis .btn-default {
	font-weight: 400;
	color: #666;
	background-color: transparent;
	border: 2px solid #666;
	padding: 10px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	margin-top: 20px;
	text-transform: uppercase;
	transition: all 0.3s;
}
#regis .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #666;
	color: #999;
}
/* form Section */
#form {
	padding: 60px 0 60px 0;
	background: url("https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/42084538_1360064857464052_4372730861464846336_n.jpg?_nc_cat=103&oh=d8aabfe919a18f883cc7a9de4e0c9311&oe=5C60DFC3");
}
#form h2 {
	font-weight: 400;
	color: #777;
	margin: 60px 0;
}
#form img {
	width: 140px;
	margin: 5px 30px 10px 0;
}
#form p {
	color: #666;
	margin-bottom: 20px;
	line-height: 24px;
}

#form form {
	padding: 0;
}
#form .text-danger {
	color: #cc0033;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	float: left;
}
#form .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.42857143;
	color: #aaa;
	background-color: #444;
	background-image: none;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#form .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#form .btn-default {
	font-weight: 400;
	color: #666;
	background-color: transparent;
	border: 2px solid #666;
	padding: 10px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	margin-top: 20px;
	text-transform: uppercase;
	transition: all 0.3s;
}
#form .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #666;
	color: #999;
}
